PORT=5000
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=1d

DB_USER=sa
DB_PASSWORD=Admin@123
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=CSAntiquesDB
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
